[submodule "input_files/old_block_palettes"]
	path = input_files/old_block_palettes
	url = https://github.com/pmmp/BlockPaletteArchive
[submodule "code/mapping"]
	path = code/mapping
	url = https://github.com/pmmp/bds-mod-mapping.git
[submodule "code/coremod"]
	path = code/coremod
	url = https://github.com/minecraft-linux/server-modloader-coremod.git
