[submodule "input_files/old_block_palettes"]
	path = input_files/old_block_palettes
	url = git@github.com:pmmp/BlockPaletteArchive
[submodule "code/mapping"]
	path = code/mapping
	url = git@github.com:pmmp/bds-mod-mapping.git
[submodule "code/coremod"]
	path = code/coremod
	url = git@github.com:minecraft-linux/server-modloader-coremod.git
