.idea/*
build/*
cmake-build-debug/*
mods/
input_files/
!input_files/old_block_palettes
!input_files/r12_block_states.json
mapping_files/
CMakeCache.txt
Dedicated_Server.txt
ChunkPerformanceData_Log.csv
packets_*.txt
bedrock_server*
invalid_known_packs.json
valid_known_packs.json
resource_packs/
behavior_packs/
sdk/
permissions.json
whitelist.json
CMakeFiles/
structures/
definitions/
packet-statistics.txt
permissions.json
*.so
worlds/
cmake_install.cmake
ContentLog*.txt
server.properties
